body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    background-color: darkgray;
    border: 1px solid #538156;
}

h1{
    color: red;
    background-color: rgb(40, 43, 44);
    border: 2px solid black;
    border-radius: 16px;
}